*{
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;;
}

body {
    
    background-color: #f8f9fa;
  }
  .inicio{
    color: #ffffff;
  }
  header {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem;
  }
header a {
  background-color: #143d68;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 7px;
}
  
  .hero {
    background: url(../imag/catalogo.jpg) no-repeat center center/cover;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #367722;
    
  }
  
  .navbar {
    background-color: rgb(74.8620689655, 83.5, 92.1379310345);
  }
  .navbar .nav-link {
    color: #305477;
  }
  .navbar .nav-link:hover {
    color: #143d68;
  }
  
  main .btn-primary {
    background-color: #4e79a7;
    border: none;
  }
  main .btn-primary:hover {
    background-color: rgb(14, 21, 29);
  }
  main .img-fluid {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  main .img-fluid:hover {
    transform: scale(1.05);
  }
  
footer {
    
    text-align: center;
    padding: 15px 0;
    background-color: #343a40;
    color: #000000;
    font-size: 15px;
}
footer p {
    margin-bottom: 15px;
    color: #ffffff;
}
.redes a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
.redes a:hover{
    color: #030303;
}
.subir{
  height: 40px;
  width: 40px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  background-color: #265526;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 5px 5px #000000 ;
}